/* VARIABLES */
:root {
	--text-color: #222831; /* Dark gray for text */
	--background-color: #fefefe; /* Very light gray for background */
	--secondary-color: #ffffff; /* White for secondary backgrounds */
	--accent-color: #0077b6; /* Muted blue for accents */
	--hover-color: #d4e9f1; /* Darker blue for hover effects */
	--box-background-color: #eaf4f9; /* Light blue-gray for buttons and boxes */
	--section-background: #f7fbfd; /* Light gray for sections */
	--font-family: Verdana;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 100%;
	font-family: var(--font-family);
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: 14px;
}

h1 {
	font-size: 22px;
	font-weight: 600;
	margin: 8px auto 4px auto;
	text-align: center;
}

h2 {
	font-size: 18px;
	font-weight: 600;
	margin: 0 auto;
	text-align: center;
}

caption {
	font-size: 16px;
	font-weight: 600;
	margin: 12px 0;
	text-align: left;
}

p {
	font-size: 13px;
	margin: 8px;
}

a {
	color: #265CCA;
	text-decoration: none;
	transition: color 0.2s ease;
}

a:hover {
	color: #3D3FCA;
	text-decoration: underline;
}

a:visited {
	color: #4E29CA;
}

.footer {
	margin-top: 24px;
}

.header {
	margin-top: 18px;
	margin-bottom: 12px;
}

.topnav {
	width: 100%;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--box-background-color);
	border-bottom: 1px solid #ccc;
}

.topnav a {
	width: 25%;
	text-align: center;
	padding: 12px 0;
	font-size: 13px;
	font-weight: 600;
	color: var(--text-color);
	text-decoration: none;
	transition: background-color 0.2s ease, color 0.1s ease;
	border-right: 1px solid #ccc;
	border-left: 1px solic #ccc;
}

.topnav a:hover {
	background-color: var(--hover-color);
}

#search-container {
	width: 95%;
	font-size: 11px;
	font-weight: 500;
	margin: 60px auto 12px auto; 
	text-align: left;
}

#search-bar {
    font-size: 12px;
    text-align: left;
    padding: 6px 10px;
    width: 300px;
    border: 1px solid #ccc;
	margin: 0px 8px 0px 0px;
	box-sizing: border-box;
    outline: none;
}

#search-button {
    background-color: var(--box-background-color);
    color: var(--text-color);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

#search-button:hover {
    background-color: var(--hover-color);
}

#search-results {
    position: absolute;
    width: 300px;
	margin: 0;
    background-color: white;
    overflow-y: auto;
    font-family: Verdana;
	display: none;
    z-index: 1;
}

.suggestion, .no-result {
    padding: 8px;
    cursor: pointer;
    border-bottom: 0.5px solid #e0e0e0;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

.suggestion:last-child, .no-result {
    border-bottom: 1px solid #ccc;
}

.suggestion:hover {
    background-color: #f0f0f0;
}

.arrowUp {
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 45px;
	height: 35px;
	z-index: 99;
	background-color: rgba(234, 244, 249, 0.75);
	text-align: center;
	text-decoration: none;
	color: var(--text-color);
	font-size: 12px;
	font-weight: 600;
}

.arrowUp:hover {
	background-color: rgba(196, 223, 232, 0.75);
	cursor: pointer;
}


#filter-row, #filter-row:hover {
	background-color: #f2f2f2;
	font-weight: 500;
	cursor: pointer;
}

.filter-select {
	width: 100%;
	font-size: 11px;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
}

.filter-select option {
	background-color: #f2f2f2;
	width: 100%;
	color: #000000;
	cursor: pointer;
}

.subhead {
	width: 95%;
	margin: 0 auto;
	overflow-x: auto;
	gap: 8px;
}

.subhead h3 {
	font-size: 14px;
	margin: 4px auto;
	font-weight: 500;
}

#event-container {
	width: 95%;
	margin: 12px auto 24px auto;
	overflow-x: auto;
	gap: 36px;
}

#event-table {
	width: 100%;
	border-collapse: collapse;
	background-color: #ffffff;
	color: var(--text-color);
	min-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#event-table th {
	background-color: var(--box-background-color);
	font-weight: 600;
	cursor: pointer;
	padding: 8px 6px;
	text-align: center;
	border: 1px solid #e0e0e0;
	font-size: 12px;
}

#event-table th:hover {
	background-color: var(--hover-color);
}

#event-table td {
	padding: 8px 4px;
	text-align: center;
	border: 1px solid #e0e0e0;
	font-size: 12px;
	font-weight: 500;
}

#event-table tbody tr:hover {
	background-color: #eaf4f9;
}

.caption {
	margin: 8px 8px 8px 0px;
	font-size: 18px;
	font-weight: 600;
	font-family: Verdana;
}

/* INDEX TABLES */
#index-container {
	width: 95%;
	margin: 12px auto 24px auto;
	overflow-x: auto;
}

#event-index {
	width: 100%;
	border-collapse: collapse;
	border: .5pt solid #D9D9D9;
	background-color: #ffffff;
	margin-left: auto;
	margin-right:auto;
	padding-bottom: 28px;
	word-wrap: break-word;
	overflow-x: scroll;
}

#event-index th {
	background-color: #f2f2f2;
	font-weight: 500;
	cursor: pointer;
	padding: 4px 6px;
	text-align: center;
	border: 1px solid #e0e0e0;
	font-size: 12px;
}
	
#event-index td {
	padding: 4px 6px;
	text-align: center;
	border: 1px solid #e0e0e0;
	font-size: 12px;
}

#event-index tbody tr:hover {
	background-color: #eaf4f9;
}


/* MEDIA QUERIES */
@media (max-width: 768px) {
	.topnav {
		width: 100%;
	}

	.topnav a {
		width: 25%;
		padding: 8px 0;
		border-bottom: 1px solid #dddddd;
	}

	.button-container {
		flex-direction: column;
		width: 95%;
	}

	.button-container button {
		width: 100%;
		margin-bottom: 8px;
	}

	#multi-filters {
		flex-direction: column;
	}
}

